# Setup

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('Sample - Superstore.xls')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
pre_start = '2016-01-01'
pre_end = '2016-12-31'
post_start = '2017-01-01'
post_end = '2017-12-31'

# Ex 1 - Sales

In [5]:
pre = df[(df['Order Date'] <= pre_end) & (df['Order Date'] >= pre_start)]
post = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]

pre_sales = pre.Sales.sum()
post_sales = post.Sales.sum()

# Ex 2 - Sales by Region

In [10]:
chg = post_sales - pre_sales

In [11]:
chg

124009.65720000002

In [12]:
pct_chg = chg / pre_sales

In [13]:
pct_chg

0.20355961535337044

In [14]:
pre_sales

609205.598

In [15]:
post_sales

733215.2552

In [16]:
df[['Region', 'Sales']].head()

  Region     Sales
0  South  261.9600
1  South  731.9400
2   West   14.6200
3  South  957.5775
4  South   22.3680

In [28]:
pre.Region

0         South
1         South
2          West
13         West
21      Central
         ...
9978       West
9979       West
9982    Central
9983    Central
9986       West
Name: Region, Length: 2587, dtype: object

In [68]:
pre.groupby(by='Region').sum()

          Row ID  Postal Code        Sales  Quantity  Discount      Profit
Region
Central  2986885     39477394  147429.3760      2359    133.92  19899.1629
East     3731373     13551006  180685.8220      2839    109.40  20141.5961
South    1975762     14016527   93610.2235      1614     62.65  17702.8084
West     4084784     73958493  187480.1765      3025     94.35  24051.6069

In [61]:
post.groupby(by='Region').sum()

          Row ID  Postal Code        Sales  Quantity  Discount      Profit
Region
Central  3844690     50480649  147098.1282      2880    186.42   7550.8442
East     4604152     16520367  213082.9040      3411    136.10  33230.5614
South    2803238     18274785  122905.8575      1915     80.50   8848.9079
West     5596420    100813937  250128.3655      4270    115.20  43808.9561

In [63]:
chg = post.groupby(by='Region').sum() - pre.groupby(by='Region').sum()

In [64]:
pct = chg / pre.groupby(by='Region').sum()

In [65]:
pct

           Row ID  Postal Code     Sales  Quantity  Discount    Profit
Region
Central  0.287191     0.278723 -0.002247  0.220856  0.392025 -0.620545
East     0.233903     0.219125  0.179301  0.201479  0.244059  0.649847
South    0.418814     0.303803  0.312953  0.186493  0.284916 -0.500141
West     0.370065     0.363115  0.334159  0.411570  0.220986  0.821457