In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import os
from acquire import get_titanic_data
from prepare import clean_titanic
from env import host,db,protocol,password,user,mysqlcon

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import sklearn.metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
import acquire
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text

In [2]:
filename = "student_grades.csv"
os.path.isfile(filename)

True

In [3]:
def aquire_student_grades():
    filename = "student_grades.csv"

    mysqlcon=f"{protocol}://{user}:{password}@{host}/{db}"

    if os.path.isfile(filename):
        df = pd.read_csv(filename)
        
      # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)
        return df

In [4]:
df=aquire_student_grades()

In [5]:
df = pd.read_csv(filename)

In [6]:
df = df.drop(columns='student_id')

In [7]:
df.isna().sum()

Unnamed: 0.2    0
Unnamed: 0.1    0
Unnamed: 0      0
exam1           1
exam2           0
exam3           1
final_grade     0
dtype: int64

In [8]:
df['exam3'].isna().value_counts()

False    103
True       1
Name: exam3, dtype: int64

In [9]:
df['exam1'].isna().value_counts()

False    103
True       1
Name: exam1, dtype: int64

In [10]:
df.dropna().shape

(102, 7)

In [11]:
df = df.dropna()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 103
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  102 non-null    int64
 1   Unnamed: 0.1  102 non-null    int64
 2   Unnamed: 0    102 non-null    int64
 3   exam1         102 non-null    float64
 4   exam2         102 non-null    int64
 5   exam3         102 non-null    float64
 6   final_grade   102 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 6.4 KB

In [13]:
df['exam1'].value_counts()

70.0     16
100.0     8
98.0      8
83.0      8
93.0      8
79.0      8
92.0      8
62.0      8
58.0      8
57.0      8
85.0      7
73.0      7
Name: exam1, dtype: int64

In [14]:
df['exam1'] = df.exam1.astype(int)
df['exam3'] = df.exam3.astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 103
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.2  102 non-null    int64
 1   Unnamed: 0.1  102 non-null    int64
 2   Unnamed: 0    102 non-null    int64
 3   exam1         102 non-null    int64
 4   exam2         102 non-null    int64
 5   exam3         102 non-null    int64
 6   final_grade   102 non-null    int64
dtypes: int64(7)
memory usage: 6.4 KB

In [16]:
def clean_student_grades(df):
    '''
    clean_student_grades(df) takes in a single pandas dataframe
    removed the student id columns, removes records with null values, and cast any floats
    into integers.Returns a clead df.
    '''
    #drops student_id column
    df = df.drop(columns='student_id')
    #drops na values 
    df = df.dropna()
    #turn whole df into a integer. float values match int values
    df = df.astype(int)
    return df

In [17]:
def split_my_students(df):
    '''
    split_my_students(df) takes in a a clean dataframe, referencing the cleaned
    version of student data. Split the data into train, validate, test
    
    pass df as an arguement in the function 
    returns: train, validate, test: three pandas dataframes
    '''
    train_val, test = train_test_split(df, random_state=1349, train_size=0.7)
    
    train, validate = train_test_split(train_val, random_state=1349, train_size=.10)
    
    return train, validate, test

In [18]:
def wrangle_grades():
    '''
    wrangle_grades does the split and clean and returns the data'''
    return split_my_students(
        clean_student_grades(
            aquire_student_grades()))

In [19]:
train, validate, test = wrangle_grades()

In [20]:
train.shape, validate.shape, test.shape

((7, 7), (64, 7), (31, 7))